~/.fehbg &                                     # restore background image
xcape -e '#66=Escape' &                        # tapping capslock=escape
xmodmap ~/.config/X11/Xmodmap                  # holding capslock=meta
xinput --disable "ELAN Touchscreen"            # disable touchscreen
